
* {
box-sizing: border-box;
vertical-align: baseline;
margin: 0%;
padding: 0%;
}
div {
display: block;
}
body {
color: black;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
margin: auto;
}

      header {
        background: red;
        display: flex;
        justify-content: space-between;
        margin: 0%;
        padding: 0%;
      }